body {
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  height: 200vh;

  grid-template-columns: 15% 1fr;
  grid-template-rows: 8rem 1fr 20vh;
  grid-template-areas:
  'hd hd'
  'nv mn'
  'ft ft'
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  grid-area: hd;
  background-color: #000000;
  border-bottom-color: white;
  display: flex;
  justify-content: left;
  height: 8rem;
}

h1 {
  color: pink;
  font-size: 3rem;
}

#logo {
  display: flex;
  justify-content: center;
}

nav {
  grid-area: nv;
  background-color: #006600;
  display: flex;
  flex-direction: column;
}

nav a {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: green;
  border-radius: 2rem;
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  margin: 1rem;
}

a:hover, a:active {
  background-color: rgb(73, 141, 33);
}

main {

  grid-area: mn;
  background-color: white;
  padding: 2rem;
}

article {
  padding: 1rem;
  font-size: 1.2rem;
}

footer {
  grid-area: ft;
  background-color: #ffc0cb;
}

#saladCollage {
  display: flex;
  flex-direction: row;
}

#saladCollage div {
  justify-content: left;
  padding: 0.5rem;
  height: 40vh;
}

#saladCollage div img {
  max-height: 100%;
  min-width: 100%;
}

.Pic {
  height: 50%;
  width: 50%
}
