body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  height: 200vh;

  grid-template-columns: 15% 1fr;
  grid-template-rows: 20vh 1fr 20vh;
  grid-template-areas:
  'lg hd'
  'nv mn'
  'ft ft'
}

header {
  grid-area: hd;
  background-color: darkgreen;
}

h1 {
  padding: 1rem;
  color: pink;
  font-size: 3rem;
}

#logo {
  grid-area: lg;
  background-color: darkgreen;
}

nav {
  grid-area: nv;
  background-image: url("../img/images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav a {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: green;
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  margin: 1rem;
}

a:hover, a:active {
  background-color: rgb(73, 141, 33);
}

main {
  grid-area: mn;
  background-color: white;
  padding: 2rem;
}

footer {
  grid-area: ft;
  background-color: gold;
}

#saladCollage {
  display: flex;
  flex-direction: row;
}

#saladCollage div {
  justify-content: left;
  padding: 0.5rem;
  height: 40vh;
}

#saladCollage div img {
  max-height: 100%;
  min-width: 100%;
}
